/*Reset some default browser styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Slate Theme overrides (optional) */
body {
  @apply bg-slate-800 text-slate-100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 