/*Reset some default browser styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  :root{
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}
/* Custom Slate Theme overrides (optional) */
body {
  @apply bg-background text-foreground;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 